.container {
    max-width: 600px;
}

.canvas {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    border: 1px solid black;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
}

#count, #tempo {
    font-size: 18px;
    font-weight: bold;
}

#tempo {
    margin-top: 10px;
    margin-bottom: 20px;
}

body {
    background-color:rgb(30, 30, 30);
    color:white;
    padding: 10px;  
  }

  a {
    color: rgb(150, 150, 150);
    text-decoration: none;
  }

  a:hover {
    color: rgb(255, 255, 255);
  }

  .links-navegacion {
    background-color: rgb(45, 45, 45);
    border-radius: 30px;
    margin-right: 20px;
    width: min-content;
    text-align: center;
  }
  .link-navegacion-seleccionado{
    color: white; 
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
    margin: 5px 0px;
    padding: 0px 10px;
    width: 100%;
  }

  .intro-text{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    margin-bottom: 20px;
  }
        .intro-text p{
          font-size: 18px;
          font-weight: lighter;
          text-align: center;
          margin-bottom: 20px;
          width: 60vw;
        }

  .cards-principales{
    background-color: rgb(45, 45, 45);
    border-radius: 30px;
    margin: 20px 20px;
    padding: 10px;
  }

      .card-midimelodies{
        background-image: url(/img/ableton-midi.png);
        background-size:cover;
        border-radius: 20px;
        opacity: 60%;
        color: rgb(255, 255, 255);
      }
      .card-midimelodies:hover{
        opacity: 100%;
      }

      .card-magicTiles{
        background-image: url(/img/perillas.jpeg);
        background-size: cover;
        border-radius: 20px;
        opacity: 60%;
        color: rgb(255, 255, 255);
      }
      .card-magicTiles:hover{
        opacity: 100%;
      }

      .card-contacto{
        background-color: rgb(30, 30, 30);
        border-radius: 20px;
        color: rgb(255, 255, 255);
        height: min-content;
      }

.header {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }

  .content {
    min-height: min-content;
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 28px;
    background-color: rgb(37, 37, 37);
    border-radius: 20px;
    padding: 50px;
  }
  .footer {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 15px;
    height: 25px;
  }

  #banner-principal {
    background-image: url('https://images.unsplash.com/photo-1600148272607-7bbf03a40d3b?q=80&w=1469&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
  }

  .banner-text {
    color: white;
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.486);
  }
  
  #start, marquee.button, div.button {
    cursor: pointer;
  }
  
  #start:hover, div.button:hover, marquee.button:hover {
      color: magenta
  }
  
  div.button {
    text-align: center;
  }
  
  marquee, div.button {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  } 

  .img-brain {
    width: 30%;
    height: auto;
  }

  .logo {
    width: 30%;
    height: auto;
  }

  .logo img {
    width: 80px;
    height: auto;
  }

  .side-navbar {
    background-color: rgb(20, 20, 20);
    height: 40vh;
    width: max-content;
    margin: 2% 2%;

    position: fixed;
    top:10vh;

    z-index: 1;
    overflow-x: hidden;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    border-radius: 30px;
  }

  .side-navbar-preview {
    background-color: rgb(0, 0, 0);

    font-size: 200%;
  }

  .side-navbar-controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  } 

  .side-navbar-controls-button {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
  }

  .side-navbar-controls-button:hover {
    background-color: rgb(0, 0, 0);
    color: mediumturquoise;
  }

  .nav-bar {
    background-color: rgb(20, 20, 20);
    height: min-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    border-radius: 30px;
  }

  .nav-bar-logo {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
  }

  .nav-bar-logo:hover {
    width: 20%;
    height: auto;
    margin-bottom: 20px;
    filter: invert(100%);
  }

  .nav-bar-links {
    color: white;
    text-decoration: none;
    font-size: 24px;
    display: flex;
    flex-direction: row; 
  }

  .nav-bar-link {
    color: white;
    text-decoration: none;
    margin: 10px;
  }

  .nav-bar-link:hover {
    color: mediumturquoise;
  }

  #note-visualization-container {
    width: 100%;
    text-align: center;
  }

  #note-visualization {
    border: 1px solid #ddd;
    margin: 10px auto;
    display: block;
  }
