<!doctype html>
<html lang="en">
    <head>
        <title>Title</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@1.0.0"> </script>
        <link href='https://fonts.googleapis.com/css?family=Codystar' rel='stylesheet'>

        <script src="/logic/mainScript.js" ></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <header>
            <!-- NAVBAR -->
            <div
              class="row justify-content-between align-items-center g-2 p-3"
            >
              <div class="col">
                <a class="py-2 d-none d-md-inline-block" href="/views/Layout.html"><img src="/img/brain.png" alt="" style="height: 28px;"> Brain2Music</a>
              </div>
              
              <div class="col links-navegacion">
                <div
                  class="row justify-content-between align-items-center g-2 px-3"
                >
                  <div class="col"><a class="py-2 d-none d-md-inline-block " href="/views/Layout.html">Inicio</a></div>
                  <div class="col"><a class="py-2 d-none d-md-inline-block link-navegacion-seleccionado" href="/views/brain2magenta.html">MidiMelodies</a></div>
                  <div class="col"><a class="py-2 d-none d-md-inline-block " href="/PianoMagic/index.html">MagicTiles</a></div>
                </div>
              </div>
              <div class="col">

                  <div
                    class="row justify-content-end align-items-center g-2 px-md-5"
                  >
                    <div class="col"><a class="py-2 d-none d-md-inline-block" href="#Contacto">Contacto</a></div>
                    <div class="col"><a class="py-2 d-none d-md-inline-block" href="https://github.com/AntonioMotaUASLP/Brain-2-Music">Github</a></div>
                  </div>

              </div>
            </div>
    
            <!--          Banner Principal          -->
            <div
              class="row justify-content-center align-items-center g-2"
            >
              <div class="col intro-text text-center">
                MidiMelodies 
                <center>
                  <p>Escucha y crea melodias con la ayuda de los algoritmos entrenados de Magenta. Puedes escuchar trios generados con I.A. o jugar a ser un virtuoso del piano con MagicTiles</p>
                </center>
              </div>
            </div>
            
        </header>
        <main>
            <div class='content' id='wait'>Put on headphones. We'll wait.</div>
            <div class='content text-center' id='start' onclick="start()">CLICK PARA COMENZAR LAS MELODIAS.</div>
            <div class='content' id='playing'>
              <marquee scrollamount=15>MIDI MELODIES</marquee>
              <marquee scrollamount=15 direction=right >Melodias sin fin</marquee>
              <div class='button' id='next' onclick="sampleAndPlayForever()">Siguiente Melodia</div> 
              <marquee behavior=alternate id='count' direction=right>Melodia 0</marquee>
              <div class='button' onclick="stop()">Terminar</div>
            <br>

              <div class='button' onclick="changeTempo(1)">Subir Tempo</div>
              <marquee behavior=alternate id='tempo'>bpm</marquee>
              <div class='button' onclick="changeTempo(-1)">Bajar Tempo</div>

            </div>
        

        </main>

            <div
              class="row justify-content-center align-items-start g-2 cards-principales"
            >
              <div class="col">
                <a href="/views/brain2magenta.html">
                  <div class="card-contacto p-3">
                    <div class="my-3 py-3 px-3">
                        <p>Jorge Antonio Mota Villa </p>
                        <p>Universidad Autónoma de San Luis Potosí</p>
                        <p>a295153@alumnos.uaslp.mx</p>
                    </div>
                  </div>
                </a>
              </div>
              <div class="col">
                <a href="/PianoMagic/index.html">
                  <div class="card-servicio p-3">
                    <div class="my-3 py-3 px-3">
                      <h5>Enlaces</h5>
                    <ul class="list-unstyled">
                      <li><a href="#">Inicio</a></li>
                      <li><a href="#">Acerca de</a></li>
                      <li><a href="#">Servicios</a></li>
                      <li><a href="#">Contacto</a></li>
                    </ul>
                    </div>
                  </div>
                </a>
              </div>
            </div>
        <!-- Bootstrap JavaScript Libraries -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>

        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
