<!-- FILEPATH: /Users/antoniomota/Documentos/Universidad/Servicio Social/Brain 2 Magenta JS /views/Layout.html -->
<!-- BEGIN: abpxx6d04wxr -->
<!doctype html>
<html lang="en">
    <head>
        <title>Brain2Music</title>
        <!-- Required meta tags -->
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />

        <!-- Bootstrap CSS v5.2.1 -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
        />

        <!-- Magenta -->
        <script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0"></script>
        <!-- Sweet Alert -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Logic -->
        <script src="/logic/mainScript.js"></script>
        <script src="/logic/vizualizer.js"></script>
        <!-- Styles -->
        <link rel="stylesheet" href="/css/styles.css" />
    </head>

    <body>

        <nav class="site-header sticky-top py-1 bg-dark" style="border-radius: 20px">
          <div class="container d-flex flex-column flex-md-row justify-content-between ">
            <a class="py-2 d-none d-md-inline-block" href="/views/Layout.html"><img src="/img/brain.png" alt="" style="height: 28px;"> Inicio</a>
            <a class="py-2 d-none d-md-inline-block" href="#">MidiMelodies</a>
            <a class="py-2 d-none d-md-inline-block" href="/PianoMagic/index.html">MagicTiles</a>
            <a class="py-2 d-none d-md-inline-block" href="#Contacto">Contacto</a>
            <a class="py-2 d-none d-md-inline-block" href="https://github.com/AntonioMotaUASLP/Brain-2-Music">Código</a>
          </div>
        </nav>
    
        <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-dark">
          <div class="col-md-5 p-lg-12 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Brain 2 Music</h1>
            <p class="lead font-weight-normal">Escucha y crea melodias con la ayuda de los algoritmos entrenados de Magenta. Puedes escuchar trios generados con I.A. o jugar a ser un virtuoso del piano con MagicTiles</p>
            <a class="btn btn-outline-secondary" href="#Botones">Conocer Más</a>
          </div>
          <div class="product-device box-shadow d-none d-md-block"></div>
          <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
        </div>
    
        <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3" id="Botones">
          <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
            <div class="my-3 py-3">
              <h2 class="display-5">MidiMelodies</h2>
              <p class="lead">Escucha como se forman melodias creadas directamente en el navegador con algoritmos entrenados con Magenta</p>
            </div>
            <div class="bg-light box-shadow mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
              <!-- Imagen que lleva a la vista '/views/brain2magenta.html' -->
              <a href="/views/brain2magenta.html">
                <img src="/img/MidiMelodies.webp" alt="Go to MidiMelodies" style="width: 100%; height: 100%; border-radius: 21px 21px 0 0;">
              </a>
            </div>
          </div>
          <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
            <div class="my-3 p-3">
              <h2 class="display-5 text-black">MagicTiles</h2>
              <p class="lead text-black">Con solo 8 teclas puedes tocar buenas melodias, con la armonia y ejecución de un virtuoso  </p>
            </div>
            <div class="bg-dark box-shadow mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;">
              <!-- Imagen que lleva a la vista '/views/brain2magenta.html' -->
              <a href="/PianoMagic/index.html">
                <img src="/img/PianoMagic.jpeg" alt="Go to PianoMagic" style="width: 100%; height: 100%; border-radius: 21px 21px 0 0;">
              </a>
            </div>
          </div>
        </div>
    

        <footer>
          <div class="px-3 py-3" >
              <div class="row px-3 py-3 bg-dark" style="border-radius: 20px;">
                <div class="col-md-5" id="Contacto">
                  <h5>Contacto</h5>
                  <p>Jorge Antonio Mota Villa </p>
                  <p>Universidad Autónoma de San Luis Potosí</p>
                  <p>Correo electrónico: a295153@alumnos.uaslp.mx</p>
                </div>
                <div class="col-md-5" id="Contacto">
                  <h5>Contacto</h5>
                  <p>Jorge Antonio Mota Villa </p>
                  <p>Universidad Autónoma de San Luis Potosí</p>
                  <p>Correo electrónico: a295153@alumnos.uaslp.mx</p>
                </div>
                <div class="col-md-2">
                  <h5>Enlaces</h5>
                  <ul class="list-unstyled">
                    <li><a href="/views/Layout.html">Inicio</a></li>
                    <li><a href="/views/brain2magenta.html">MidiMelodies</a></li>
                    <li><a href="/PianoMagic/index.html">MagicTiles</a></li>
                    <li><a href="https://github.com/AntonioMotaUASLP/Brain-2-Music">Código</a></li>
                  </ul>
                </div>
              </div>
            </div>

      </footer>
    
    
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
        <script src="../../assets/js/vendor/popper.min.js"></script>
        <script src="../../dist/js/bootstrap.min.js"></script>
        <script src="../../assets/js/vendor/holder.min.js"></script>
        <script>
          Holder.addTheme('thumb', {
            bg: '#55595c',
            fg: '#eceeef',
            text: 'Thumbnail'
          });
        </script>
      
    
    </body>
</html>
